<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="db" connectionString="Data Source=DESKTOP-DLRDABP;Initial Catalog=web_dht_r02; user id=dht; password=123456; Connection Timeout=3600;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>