.RadMenu_Metro .rmLink .rmText, .RadTabStrip_Metro .rtsLevel .rtsTxt {
    text-transform: capitalize;
    font-size: 10pt;
}

html {
    /*overflow-y: scroll*/
}

html,
body,
form {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    font-family: Segoe UI;
    font-size: small;
}

/*h2, h3 {
    color: #5D7B9D;
    padding-top: 0px;
}*/

a {
    color: #9E165B;
}

    a:hover {
        color: #FF1D77;
    }

form {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
    margin: 0 auto -90px; /* the bottom margin is the negative value of the footer's height */
}
/*html {
overflow-y: scroll;
}*/
#list_login_wrapper {
    width: 290px;
    float: left;
}

#view_user_filter_wrapper {
    width: 400px;
}

#grid_2_columns {
    width: 33%;
}

#popup_panel {
    width: 100%;
    margin-top: 10px;
}

#header_wrapper {
    background-color: #085AA4;
}

#header {
    height: 100%;
}

#site_name {
    font-size: 25px;
    color: White;
    padding: 5px;
}

#header_left {
}

#header_right {
}

#navigator {
    height: 22px;
}

#title {
    color: White;
    /*background-color:#8C0095;*/
    background-color: #7EB6FF;
    height: 35px;
}

#title_name {
    font-size: 20px;
    width: 25%;
    float: left;
    margin-left: 10px;
}

#title_panel {
    width: 70%;
    float: left;
    margin-top: 5px;
}

#main_wrapper {
    padding: 10px;
}

#main {
    clear: right;
}

#main_left {
    background-color: #0A5BC4;
    width: 15%;
    min-height: 540px;
    float: left;
    margin-top: -30px;
    border-top: 1px solid #E5E5E5;
}

#main_right {
    width: 85%;
    float: left;
}

#push {
    /*height:120px;*/
    height: 90px;
}

#footer_wrapper {
    background-color: #25a0da;
    /*height:120px;*/
    height: 90px;
    width: 100%;
    opacity: 0.9;
    font-size: smaller
}

#footer {
    width: 100%;
    /*border-top:1px solid #E5E5E5;*/
}

#footer_left {
    float: left;
    margin: 10px;
}

#footer_right {
    float: right;
    height: 50px;
    margin: 10px;
}

#bavitech {
    width: 100%;
    clear: both;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    font-style: italic;
    color: #B81B6C;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* End hide from IE-mac */
ul {
    margin: 0 auto;
    padding: 0;
    height: auto;
}

    ul.multiple_columns li {
        text-align: left;
        float: left;
        list-style: none;
        height: 30px;
    }

.box {
    /*position: absolute;
    left: 39%;
    top: 40%;*/
    /*color:whitesmoke;
    width:180px;
    height:100px;
    margin:-75px 0 0 -135px;
    padding:10px;
    border-radius: 2px 2px;*/
    /*border: 1px solid whitesmoke;*/
    /*background: rgba(0,0,0,0.25);*/
    /*box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3)*/
}

.RadForm_Metro.rfdLabel label, .RadForm_Metro.rfdLabel .rfdAspLabel {
    color: black !important;
}

.text_login {
    width: 100px;
}

.text_view_user_filter {
    width: 200px;
}

.text_grid_2_columns {
    width: 50%;
}

.text_grid_3_columns {
    width: 33%;
}


.text_grid_5_columns {
    width: 15%;
}

.control_login {
    width: 190px;
}

.control_view_user_filter {
    width: 200px;
}

.control_grid_1_columns {
    width: 100%;
    text-align:center;
}

.control_grid_2_columns {
    width: 50%;
}

.control_grid_3_columns {
    width: 33%;
}

.control_grid_4_columns {
    width: 25%;
    height: 0px;
}

.control_grid_5_columns {
    width: 25%;
}

.msg {
    color: #A700AE;
    font-style: italic;
}

.div_center {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 5px;
}

.div_title_left {
    position: absolute;
    /*font-size:20px;
margin-left:10px;*/
}

.tab_content {
    margin: 10px;
}


ul.multiple_columns li {
    text-align: left;
    float: left;
    list-style: none;
    height: 30px;
}

.btn-right {
    float: right;
}

@media (min-width: 350px) {
    .text_grid_4_columns {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .text_grid_4_columns {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .text_grid_4_columns {
        width: 25%;
        height: auto;
    }
}
