/*.RadMenu_Metro .rmLink .rmText {
    text-transform: none;
}*/
/* GMAP*/
.RadMenu_Metro .rmLink .rmText, .RadTabStrip_Metro .rtsLevel .rtsTxt {
           text-transform: capitalize;
           font-size:10pt;
       }
html {
    overflow-y: scroll
}
html,
body,
form {
    margin: 0;
    padding: 0;
    height: 100%
}
body {
    font-family:Segoe UI;
    font-size:small;
    background-color:Gray
}
#login-container {
    background-image:url('_water_drop.jpg');
    background-size: cover;
    background-position:center
}
#container {
    background-color: white
}
#container, #login-container {
    /*width: 960px;*/
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    position: relative
}
#login-header-wrapper {
    background-color: whitesmoke
}
#header-wrapper {
    background-color:#085AA4
}
#header-wrapper, #login-header-wrapper {    
    height: 60px
}
#header {
    
}
#content-wrapper {
    padding: 10px;
    padding-bottom: 75px /* Height of the footer */
}
#footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px; /* Height of the footer */
    background-color: whitesmoke;

    font-size:smaller
}
#footer-left, #footer-right {
    float:left;
    margin:10px
}
#footer-right {
    float: right;
    margin:10px
}
#page-name, #login-page-name{
    font-size:25px;
    height:40px;
    margin-left:10px
}
#login-page-name {
    color:#085AA4
}
#page-name {
    color:white
}

h2 {
    color: #5D7B9D
}
.bold {
    font-weight: bold;
    color: #085AA4
}
.box{
    /*position:absolute;
    left:39%;
    top:40%;
    color:whitesmoke;
    width:180px;
    height:100px;
    margin:-75px 0 0 -135px;
    padding:10px;
    border-radius: 2px 2px;
    border: 1px solid whitesmoke;
    background: rgba(0,0,0,0.25);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3)*/
}
.RadForm_Metro.rfdLabel label, .RadForm_Metro.rfdLabel .rfdAspLabel {
    color: black !important;
}
.error {
    color: red
}
.login_login_link, .login_link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    padding: 5px 10px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    opacity: .8;
    text-align: right;
    /*text-shadow: 0 1px 1px rgba(0,0,0,0.8);*/
    /*font-weight: bold;*/
    opacity: .88
}
.login_link {
    /*color: #fff*/
}
    .login_link a {
        color: orangered
    }
.flag {
    height: 16px;
    vertical-align: middle
}
.t_center {
    text-align: center
}
.t_left {
    text-align: left
}
.t_right {
    text-align: right
}
.login-textbox {
    width: 168px;
    text-align:center
}
.t_width_100 {
    width:100%
}
.t_width_50 {
    width: 50%
}
.t_lit {
    font:12px/16px "segoe ui",arial,sans-serif;
    width: 160px;
    vertical-align: top
}
.description-box {
    width: 225px;
    height: 40px
}